@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

}

/*Nprogress change color*/
#nprogress .bar {
    background: #FF5C00 !important;
}
#nprogress .peg {
    box-shadow: 0 0 10px #FF5C00, 0 0 5px #FF5C00 !important;
}
#nprogress .spinner-icon {
    border-top-color: #FF5C00 !important;
    border-left-color: #FF5C00 !important;
}