@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "estedad";
        font-weight: 100;
        src: url("/fonts/Estedad-Thin.ttf");
    }

    @font-face {
        font-family: "estedad";
        font-weight: 300;
        src: url("/fonts/Estedad-Light.ttf");
    }

    @font-face {
        font-family: "estedad";
        font-weight: 400;
        src: url("/fonts/Estedad-Medium.ttf");
    }

    @font-face {
        font-family: "estedad";
        font-weight: 700;
        src: url("/fonts/Estedad-Bold.ttf");
    }

    @font-face {
        font-family: "estedad";
        font-weight: 900;
        src: url("/fonts/Estedad-Black.ttf");
    }

    * {
        font-family: "estedad", sans-serif !important;

        ::-webkit-scrollbar {
            width: 8px;
        }

        ::-webkit-scrollbar-track {
            background: white;
        }

        ::-webkit-scrollbar-thumb {
            background: #FF5C00;
            border-radius: 100px;
        }
    }
}

/*Nprogress change color*/
#nprogress .bar {
    background: #FF5C00 !important;
    background: #ffe9db !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px #FF5C00, 0 0 5px #FF5C00 !important;
}

#nprogress .spinner-icon {
    border-top-color: #FF5C00 !important;
    border-left-color: #FF5C00 !important;
}

.ͼ2 .cm-gutters {
    border: 0 !important;
}

.ͼ1 .cm-lineNumbers .cm-gutterElement {
    padding: 0 11px 0 0;
}

.cm-line {
    font-size: 18px;
}

.cm-tooltip-autocomplete,
.cm-tooltip,
.cm-tooltip-below {
    font-size: 15px;
    border-radius: 5px !important;
    border: 1px solid #cfcfcf !important;
    box-shadow: 5px 5px 10px 0 rgba(221, 221, 221, 0.5);
}

.cm-tooltip-autocomplete > ul,
.cm-tooltip > ul,
.cm-tooltip-below > ul {

}

.cm-tooltip-autocomplete > ul > li,
.cm-tooltip > ul > li,
.cm-tooltip-below > ul > li {

}

.cm-tooltip-autocomplete > ul > li[aria-selected="true"],
.cm-tooltip > ul > li[aria-selected="true"],
.cm-tooltip-below > ul > li[aria-selected="true"] {
    background-color: #ff913f !important;
}

.cm-tooltip-autocomplete > ul, .cm-tooltip-autocomplete > ul, .cm-tooltip > ul, .cm-tooltip > ul, .cm-tooltip-below > ul, .cm-tooltip-below > ul, .cm-tooltip-autocomplete > ul > li, .cm-tooltip-autocomplete > ul > li, .cm-tooltip > ul > li, .cm-tooltip > ul > li, .cm-tooltip-below > ul > li, .cm-tooltip-below > ul > li {
    overflow: hidden !important;
}

.cm-content {
    height: calc(100vh - 35px) !important;
}

.window {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #fff;
    cursor: move;
    position: absolute;
}

.shadow-orange {
    box-shadow: 0 3px 10px -7px #FF5C00;
}