@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "estedad";
        font-weight: 100;
        src: url("/fonts/Estedad-Thin.ttf");
    }

    @font-face {
        font-family: "estedad";
        font-weight: 300;
        src: url("/fonts/Estedad-Light.ttf");
    }

    @font-face {
        font-family: "estedad";
        font-weight: 400;
        src: url("/fonts/Estedad-Medium.ttf");
    }

    @font-face {
        font-family: "estedad";
        font-weight: 700;
        src: url("/fonts/Estedad-Bold.ttf");
    }

    @font-face {
        font-family: "estedad";
        font-weight: 900;
        src: url("/fonts/Estedad-Black.ttf");
    }

    @font-face {
        font-family: "number";
        font-weight: 400;
        src: url("/fonts/iranyekanwebregular.ttf");
    }

    * {
        font-family: "number" ,"estedad", sans-serif !important;

        ::-webkit-scrollbar {
            width: 8px;
        }

        ::-webkit-scrollbar-track {
            background: white;
        }

        ::-webkit-scrollbar-thumb {
            background: #FF5C00;
            border-radius: 100px;
        }
    }
}

/*Nprogress change color*/
#nprogress .bar {
    background: #FF5C00 !important;
    background: #ffe9db !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px #FF5C00, 0 0 5px #FF5C00 !important;
}

#nprogress .spinner-icon {
    border-top-color: #FF5C00 !important;
    border-left-color: #FF5C00 !important;
}

.cm-editor {
    height: 100%;
}

.cm-scroller {
    overflow: visible !important;
}

.ͼ2 .cm-gutters {
    border: 0 !important;
}

html.dark .ͼ2 .cm-gutters {
    filter: invert(1) !important;
}

.ͼ1 .cm-lineNumbers .cm-gutterElement {
    padding: 0 11px 0 0;
}

.cm-line {
    font-size: 18px;
}

.cm-tooltip-autocomplete,
.cm-tooltip,
.cm-tooltip-below {
    font-size: 15px;
    border-radius: 5px !important;
    border: 1px solid #cfcfcf !important;
    box-shadow: 5px 5px 10px 0 rgba(221, 221, 221, 0.5);
}

.cm-tooltip-autocomplete > ul,
.cm-tooltip > ul,
.cm-tooltip-below > ul {

}

.cm-tooltip-autocomplete > ul > li,
.cm-tooltip > ul > li,
.cm-tooltip-below > ul > li {

}

.cm-tooltip-autocomplete > ul > li[aria-selected="true"],
.cm-tooltip > ul > li[aria-selected="true"],
.cm-tooltip-below > ul > li[aria-selected="true"] {
    background-color: #ff913f !important;
}

.cm-tooltip-autocomplete > ul, .cm-tooltip-autocomplete > ul, .cm-tooltip > ul, .cm-tooltip > ul, .cm-tooltip-below > ul, .cm-tooltip-below > ul, .cm-tooltip-autocomplete > ul > li, .cm-tooltip-autocomplete > ul > li, .cm-tooltip > ul > li, .cm-tooltip > ul > li, .cm-tooltip-below > ul > li, .cm-tooltip-below > ul > li {
    overflow: hidden !important;
}

.cm-content {
    height: 100%;
}

.window {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #fff;
    cursor: move;
    position: absolute;
}

.shadow-orange {
    box-shadow: 0 3px 10px -7px #FF5C00;
}

.text-shadow {
    text-shadow: -10px 13px 10px #ff965b;
}

svg .svg-salam-1 {
    fill: transparent;
    transition: fill 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s;
}

svg.active .svg-salam-1 {
    fill: rgb(255, 255, 255);
}

svg .svg-salam-2 {
    fill: transparent;
    transition: fill 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1.1s;
}

svg.active .svg-salam-2 {
    fill: rgb(255, 255, 255);
}

svg .svg-salam-3 {
    fill: transparent;
    transition: fill 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1.2s;
}

svg.active .svg-salam-3 {
    fill: rgb(255, 255, 255);
}

.mt-\[170px\] {
    margin-top: 170px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html.dark .ͼ1 .cm-cursor, .ͼ1 .cm-dropCursor {
    border-left: 1px solid #ffffff;
}

.toggle {
    background-color: #ff5b00;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.1);
    line-height: 1;
}

.input {
    display: none;
}

.icon {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    transition: transform 500ms;
}

.icon--moon {
    color: #b4eaff;
}

.icon--sun {
    transform: scale(0);
    color: yellow;
}

#switch:checked + .icon--moon {
    transform: rotate(360deg) scale(0);
}

#switch:checked ~ .icon--sun {
    transform: scale(1) rotate(360deg);
}
